.locate {
    &-content {
        margin-top: 40px;
    }
    &-store {
        background: url(../images/store-banner.jpg) no-repeat;
        background-size: cover;
        background-position: center 70%;
        height: 50vh;
        margin-top: 60px;
        @include pad {
            height: 40vh;
        }
        @include mobile {
            margin-top: 30px;
            height: 45vh;
        }
        &-img {
            img {
                width: 90%;
                height: 170px;
                border-radius: 20px;
            }
        }
    }
    &-map {
        iframe {
            width: 100%;
            height: 480px;
            @include mobile {
                height: 350px;
            }
        }
    }
    &-text {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; 
    }
    &-list {
        &-title {
            background-color: #ffac25;
            color: #ffffff;
            font-size: 32px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            @include mobile {
                font-size: 24px;
            } 
        }
        &-item {
            font-size: 20px;
            @include mobile {
                h4 {
                    font-size: 16px;
                }
                p{
                    font-size: 13px;
                }
            } 
        }
    }
}
.hex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: #ffac25;
    position: relative;  
    top: 10px;
    @include pad {
        width: 200px;
        height: 150px;
    }
    @include mobile {
        width: 190px;
        height: 150px;
    }
    img {
        border: 3px solid #ffffff;
        height: 200px;
        z-index: 2;
        @include pad {
            height: 150px;
        }
    }
}
.hex-box:before {
    content: "";
    position: absolute;
    top: -75px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 75px solid #ffac25;
    @include pad {
        top: -50px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 50px solid #ffac25;
    }
    @include mobile {
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
    }
}
.hex-box:after {
    content: "";
    position: absolute;
    bottom: -75px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 75px solid #ffac25;
    @include pad {
        top: 150px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 0px solid #ffac25;
        border-top: 60px solid #ffac25;
    }
    @include mobile {
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
    }
}
