.shop {
    &-content {
        margin-top: 80px;
        @include pad {
            margin-top: 60px;
            @include mobile {
                margin-top: 36px;
            }
        }
    }
    &-side {
        &-bar {
            font-size: 24px;
        }
        &-list {
            text-align: center;
            @include mobile {
                display: flex;
            }
            h2 a{
                background-color: #FF9F5C;
                color: #ffff;
                padding: 20px 0;
                @include mobile {
                    font-size: 14px;
                    padding: 22px 25px;
                }
            }
        }
        &-item {
            @include mobile {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a {
                border: 1px solid #ccc;
                padding: 20px 0;
                @include mobile {
                    font-size: 14px;
                    padding: 0 25px;
                }
                &:hover {
                    color: #ffac25;
                    transition: .6s;
                }
            }
        }
    }
    &-product {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            @include mobile {
                justify-content: center;
            }
        }
        &-item {
            width: 30%;
            margin: 0 10px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;            a {
            overflow: hidden;
            }
            @include pad {
                width: 46%;
            }
            @include mobile {
                width: 80%;
            }
            h3 {
                font-size: 20px;
                font-weight: bold;
            }
            img {
                max-width: 100%;
                height: 220px;
                transform: scale(0.7);
                &:hover {
                    transform: scale(0.95);
                    transition: .8s ease-in-out;
                }
            }
        }
        &-text {
            text-align: center;
        }
        &-price {
            font-size: 20px;
            color: red;
            font-weight: bold;
        }
    }
}
.add-btn {
    padding-right: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #ffac25;
    background: linear-gradient(to right, #ffac25 50%, #fff 50%);
    background-size: 200% 100.5%;
    background-position: right bottom;
    border: none;
    border-left: 0.20em solid #ffac25;
    border-color: none;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
    transition: all .5s ease-out;
    &:hover {
        background-position: left ;
        background-color: #ffac25;
        color: #ffffff;
    }
    img {
        width: 24px;
        height: 24px;
    }
}
.pages {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.page-item {
    display: flex;
    justify-content: center;
    a {
        width: 40px;
        height: 40px;
        color: #000000;
        &:hover {
            color: $white;
        }
    }
}
.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
}


